@import "~bootstrap/scss/bootstrap";

body {
  background-color: #121415;
  color: #FFFFFF;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.logo {
  max-width: 200px;
  min-width: 100px;
}

.card,
.list-group,
.list-group-item {
  background-color: #323232;
  color: #FFFFFF;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.list-group-item {
  border: none;
}

.card-header {
  background-color: #E50914;
  border: none;
}